body {
text-align: center;
background: url(bkgrnd.png); 
background-position: center;
/*background-size: contain;*/
}

#google {
padding-bottom: 20px;
}

#facebook {
padding-bottom: 20px;
}

#login {
float: right;
}

