body {
text-align: center;
background: url(bkgrnd.png); 
background-position: center;
/*background-size: contain;*/
}

#google {
padding-bottom: 30px;
padding-top: 50px;
}

#facebook {
padding-bottom: 30px;
}
/*

#login {
float: right;
}
*/

